version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            hls/.* hls-changed true
            webrtc/.* webrtc-changed true
